/*
 * Skin: Blue
 * ----------
 */
.skin-blue .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #357ca5;
}
.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #222d32;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}




/*24/10/2018*/

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    /*background-color: #282F3A;*/
    /*background-color: #38404e;*/
    background-color: #fff;
    box-shadow: 2px 0 14px -3px #868686;
}

.skin-blue .sidebar a {
    /*color: #c0bbbb;*/
    color: #444;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #444;
    /*background: #59606B;*/
    border-left-color: transparent;
    background: #D7D7D7;
}

.content-wrapper, .right-side {
    background-color: #f6f7fb;
}

.skin-blue .main-header .logo {
  /*background-color: #282f3a;*/
  /*background-color: #38404e;*/
    background-color: #44519e;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    /*background: #59606b;*/
    background: #d7d7d7;

}

.skin-blue .treeview-menu > li > a {
    color: #c0bbbb;
    color: #444;
}

.skin-blue .main-header .logo:hover {
    background-color: #44519e;
}

.skin-blue .main-header .navbar {
  /*background-image: linear-gradient(45deg, rgb(68, 81, 158) 0%, rgba(3, 125, 195, 0.76) 100%);*/
    /*background-color: #282F3A;*/
    /*background-color: #59606b;*/
    background-color: rgb(68, 81, 158);
    /*box-shadow: 4px 2px 10px 0 rgba(40, 47, 58, 0.85);*/
}

.small-box>.inner {
    box-shadow: 2px 8px 10px -5px #999;
}

.small-box.bg-green{
  background-image: linear-gradient(45deg, rgba(240,55,73,1) 0%, rgba(253,136,73,1) 100%);
}
.small-box.bg-red{
  background: linear-gradient(50deg,#2ec6ff,#303f9f)!important;
}

.small-box.bg-blue{
  background-image: linear-gradient(45deg, #a94442 0%, rgba(253,136,73,1) 100%) !important;
}


.box.box-success {
    border-top-color: #0acf97;
    border:0;
}


.btn-success {
    background-color: #5564bd;
    border-color: #44519e;
}

.btn-danger {
    background-color: #FC5661;
    border-color: #FC5661;
}

.btn-info {
    background-color: #5564bd;
    border-color: #44519e;
}

.btn-info:hover,
.btn-info:focus {
background-color: #44519e;
border-color: #44519e;
}

.btn-success:hover,
.btn-success:focus{
background-color: #44519e;
border-color: #44519e;
}


.sidebar-menu .treeview-menu>li>a {
    padding: 8px 5px 8px 55px;
    font-size: 14px;
}


.main-sidebar, .left-side{
      width: 270px;
}

.content-wrapper, .right-side, .main-footer{
  margin-left: 270px;
} 


.skin-blue .sidebar-menu > li > .treeview-menu {
    /* background: #59606b; */
    background: #d7d7d7;
    margin: 0;
    box-shadow: inset 0 1px 0 #eee;
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: #555;
    background: #ccc;
}

.skin-blue .main-header .navbar .sidebar-toggle{
   transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #606ec1;
  }


  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5564bd;
    border-color: #5564bd;
}

table>thead>tr:first-child{
  background-color: whitesmoke;
  color: #555 !important;
}

.skin-blue .main-header li.user-header {
    background-color: #44519e;
    color: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: rgba(255,255,255,0.15);
    padding: 10px;
}

.user-footer .btn.btn-flat{
border-radius: 4px;
}